{% extends "base.html" %}

{% block content %}
<h1>Add Notes</h1>


<div class="flex flex-wrap">
  
  <div class="w-33 pa3">
    <h2>{{ contact.name }}</h2>

    {% if note.note %}
    <div class="flex">
        <div class="pr2">
            <div>{{ contact.note }}</div>
        </div>
    </div>
    {% endif %}

    <div>
        <form action="{% url 'note_form' pk=contact.pk %}"  method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div>
            <button type="submit">Save Note</button>
          </div>
        </form>
      </div>


    {% if note.post_time %}
    <div class="flex">
      <div class ="pr2">
        <div>{{ note.post_time }}</div>
      </div>
    </div>
    {% endif %}
    
    <p>
      <a href="{% url 'edit_contact' pk=contact.pk %}">Edit Contact</a><br>    
      <a class="red" href="{% url 'delete_contact' pk=contact.pk %}">Delete Contact</a>
    </p>
  </div>
</div>  
{% endblock %}
